@layer components {
    /* Base */
    .btn {
        @apply inline-flex items-center justify-center gap-x-2 px-4 py-2 text-sm font-medium rounded-lg border disabled:opacity-50 disabled:pointer-events-none focus:outline-none transition-colors duration-200;
    }

    /* === SIZES === */
    .btn.btn-sm {
        @apply px-3 py-2 text-xs;
    }

    .btn.btn-lg {
        @apply px-5 py-4 text-base;
    }

    /* === SOLID VARIANTS === */
    .btn.solid-primary {
        @apply border-transparent bg-sky-600 text-white hover:bg-sky-700 focus:bg-sky-700;
    }

    .btn.solid-dark {
        @apply border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:bg-gray-900;
    }

    .btn.solid-danger {
        @apply border-transparent bg-red-600 text-white hover:bg-red-700 focus:bg-red-700;
    }

    .btn.solid-info {
        @apply border-transparent bg-teal-600 text-white hover:bg-teal-700 focus:bg-teal-700;
    }

    .btn.solid-warning {
        @apply border-transparent bg-yellow-500 text-white hover:bg-yellow-600 focus:bg-yellow-600;
    }

    .btn.solid-white {
        @apply border border-gray-200 bg-white text-gray-800 hover:bg-gray-50 focus:bg-gray-50;
    }

    .btn.solid-secondary {
        @apply border-transparent bg-gray-600 text-white hover:bg-gray-700 focus:bg-gray-700;
    }

    /* === SOFT VARIANTS === */
    .btn.soft-primary {
        @apply border border-sky-200 bg-sky-100 text-sky-800 hover:bg-sky-200 focus:bg-sky-200;
    }

    .btn.soft-dark {
        @apply border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:bg-gray-200;
    }

    .btn.soft-danger {
        @apply border-transparent bg-red-100 text-red-800 hover:bg-red-200 focus:bg-red-200;
    }

    .btn.soft-info {
        @apply border-transparent bg-teal-100 text-teal-800 hover:bg-teal-200 focus:bg-teal-200;
    }

    .btn.soft-warning {
        @apply border-transparent bg-yellow-100 text-yellow-800 hover:bg-yellow-200 focus:bg-yellow-200;
    }

    .btn.soft-white {
        @apply border-transparent bg-white/10 text-white hover:bg-white/20 focus:bg-white/20;
    }

    .btn.soft-secondary {
        @apply border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:bg-gray-200;
    }

    /* === OUTLINE VARIANTS === */
    .btn.outline-primary {
        @apply border border-sky-600 text-sky-600 bg-transparent hover:border-sky-700 hover:text-sky-700 hover:bg-sky-50 focus:border-sky-700 focus:text-sky-700 focus:bg-sky-50;
    }

    .btn.outline-dark {
        @apply border border-gray-800 text-gray-800 bg-transparent hover:border-gray-500 hover:text-gray-500 hover:bg-gray-100 focus:border-gray-500 focus:text-gray-500 focus:bg-gray-100;
    }

    .btn.outline-danger {
        @apply border border-red-500 text-red-500 bg-transparent hover:border-red-400 hover:text-red-400 hover:bg-red-50 focus:border-red-400 focus:text-red-400 focus:bg-red-50;
    }

    .btn.outline-info {
        @apply border border-teal-500 text-teal-500 bg-transparent hover:border-teal-400 hover:text-teal-400 hover:bg-teal-50 focus:border-teal-400 focus:text-teal-400 focus:bg-teal-50;
    }

    .btn.outline-warning {
        @apply border border-yellow-500 text-yellow-500 bg-transparent hover:border-yellow-400 hover:text-yellow-400 hover:bg-yellow-50 focus:border-yellow-400 focus:text-yellow-400 focus:bg-yellow-50;
    }

    .btn.outline-white {
        @apply border border-white text-white bg-transparent hover:border-white/70 hover:text-white/70 hover:bg-white/10 focus:border-white/70 focus:text-white/70 focus:bg-white/10;
    }

    .btn.outline-secondary {
        @apply border border-gray-500 text-gray-500 bg-transparent hover:border-gray-400 hover:text-gray-400 hover:bg-gray-50 focus:border-gray-400 focus:text-gray-400 focus:bg-gray-50;
    }

    /* === LINK VARIANTS === */
    .link-primary {
        @apply inline-flex gap-2 font-medium border-transparent text-sky-600 hover:text-sky-800 focus:text-sky-800 hover:underline;
    }

    .link-danger {
        @apply inline-flex gap-2 font-medium border-transparent text-red-600 hover:text-red-800 focus:text-red-800 hover:underline;
    }

    .link-gray {
        @apply inline-flex gap-2 font-medium border-transparent text-gray-600 hover:text-gray-800 focus:text-gray-800 hover:underline;
    }

    .link-white {
        @apply inline-flex gap-2 font-medium border-transparent text-white hover:text-white/80 focus:text-white/80;
    }

    .link-green {
        @apply inline-flex gap-2 font-medium border-transparent text-green-600 hover:text-green-800 focus:text-green-800 hover:underline;
    }

    .link-warning {
        @apply inline-flex gap-2 font-medium border-transparent text-yellow-600 hover:text-yellow-700 focus:text-yellow-700 hover:underline;
    }

    .link-indigo {
        @apply inline-flex gap-2 font-medium border-transparent text-indigo-600 hover:text-indigo-800 focus:text-indigo-800 hover:underline;
    }

    .link-info {
        @apply inline-flex gap-2 font-medium border-transparent text-teal-600 hover:text-teal-800 focus:text-teal-800 hover:underline;
    }

    .link-secondary {
        @apply inline-flex gap-2 font-medium border-transparent text-gray-600 hover:text-gray-800 focus:text-gray-800 hover:underline;
    }
    .link-white {
        @apply inline-flex gap-2 border-transparent text-gray-400 hover:text-sky-600 focus:text-sky-600 hover:underline;
    }

    /* === GHOST VARIANTS === */
    .btn.ghost-primary {
        @apply border-transparent text-sky-600 hover:bg-sky-100 hover:text-sky-800 focus:bg-sky-100 focus:text-sky-800;
    }
    .btn.ghost-dark {
        @apply border-transparent text-gray-800 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900;
    }

    .btn.ghost-white {
        @apply border-transparent text-gray-500 hover:bg-gray-100 hover:text-gray-700 focus:bg-gray-100 focus:text-gray-700;
    }

    .btn.ghost-secondary {
        @apply border-transparent text-gray-600 hover:bg-gray-100 hover:text-gray-800 focus:bg-gray-100 focus:text-gray-800;
    }

    /* === ICON LOADING VARIANT === */
    .btn .btn-spinner {
        @apply animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent rounded-full;
    }
}
