@import "tailwindcss";

@plugin "@tailwindcss/typography";

@import "../../../../../node_modules/preline/variants.css";
@import "../../../../../node_modules/flag-icons/css/flag-icons.min.css";
@source "../../../../../node_modules/preline/dist/*.js";

@source '../../views/*.blade.php';
@source '../../views/**/*.blade.php';
@source '../../views/**/**/*.blade.php';
@source '../../views/**/**/**/*.blade.php';
@source '../../views/**/**/**/**/*.blade.php';
@source '../js/*.js';

@layer base {
    :root {
        /* --tw-color-primary: #e3a41d;
        --tw-color-primary-active: #d19513;
        --tw-color-soft-primary: #e8ddc0;
        --tw-color-soft-primary-active: #ddcea3; */
    }

    html {
        font-family: "DM Sans", Inter, sans-serif;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    [type="checkbox"] {
        appearance: none;
        print-color-adjust: exact;
        vertical-align: middle;
        -webkit-user-select: none;
        user-select: none;
        width: 1rem;
        height: 1rem;
        background-color: #fff;
        background-origin: border-box;
        border-width: 1px;
        flex-shrink: 0;
        padding: 0;
        display: inline-block;
        border: 1px solid #d1d5db;
        border-radius: 0.125rem;
        cursor: pointer;
        transition: box-shadow 0.2s ease;
    }

    [type="checkbox"]:checked {
        background-color: currentColor;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-color: transparent;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }

    [type="checkbox"]:focus {
        outline: none;
    }

    .container {
        @apply mx-auto !max-w-[85rem] px-4 sm:px-6 lg:px-8;
    }

    /* Skeleton Loading Animation */
    .skeleton {
        @apply animate-pulse;
    }

    .skeleton * {
        @apply !text-transparent pointer-events-none;
    }

    /* Optional Specific Tags for Consistency */
    .skeleton h1,
    .skeleton h2,
    .skeleton h3,
    .skeleton h4,
    .skeleton h5,
    .skeleton h6,
    .skeleton p,
    .skeleton a,
    .skeleton table td,
    .skeleton table th,
    .skeleton table td > *,
    .skeleton table th > *,
    .skeleton .table tbody td > *,
    .skeleton .table thead th > *,
    .skeleton ul li,
    .skeleton ol li,
    .skeleton img,
    .skeleton .card,
    .skeleton button,
    .skeleton label,
    .skeleton input,
    .skeleton select,
    .skeleton textarea,
    .skeleton fieldset,
    .skeleton fieldset > div > label,
    .skeleton fieldset > div > small,
    .skeleton fieldset > div > input,
    .skeleton fieldset > div > select,
    .skeleton fieldset > div > textarea,
    .skeleton .avatar {
        @apply !bg-gray-200 dark:bg-gray-700 rounded border-0;
    }

    .skeleton label {
        @apply inline-block max-w-20;
    }

    /* Avatar: make it fully rounded */
    .skeleton .avatar,
    .skeleton img.rounded-full {
        @apply rounded-full;
    }

    /* Table fix */
    .skeleton table {
        @apply w-full;
    }
}

@layer utilities {
    .font-montserrat {
        font-family: "Montserrat", Inter, sans-serif;
    }
}

/* UI */
@import "./ui/colors.css";
@import "./ui/navbar.css";
@import "./ui/card.css";
@import "./ui/table.css";
@import "./ui/tabs.css";
@import "./ui/modal.css";
@import "./ui/form.css";
@import "./ui/button.css";
@import "./ui/badge.css";
@import "./ui/alert.css";
@import "./ui/pagination.css";
@import "./ui/timeline.css";

/* VENDOR */
@import "./vendor/tagify.css";
@import "./vendor/toastify.css";
@import "./vendor/ckeditor.css";
