@layer components {
    /* Base */
    .btn {
        @apply inline-flex items-center justify-center gap-x-2 px-4 py-2 text-sm font-medium rounded-lg border disabled:opacity-50 disabled:pointer-events-none focus:outline-none transition-colors duration-200;
    }

    /* === SIZES === */
    .btn.btn-sm {
        @apply px-3 py-2 text-xs;
    }

    .btn.btn-lg {
        @apply px-5 py-4 text-base;
    }

    /* === SOLID VARIANTS === */
    .btn.solid-primary {
        @apply border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:bg-blue-600;
    }

    .btn.solid-dark {
        @apply border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:bg-gray-900 dark:bg-gray-700 dark:hover:bg-gray-800 dark:focus:bg-gray-800;
    }

    .btn.solid-danger {
        @apply border-transparent bg-red-600 text-white hover:bg-red-700 focus:bg-red-700 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:bg-red-600;
    }

    .btn.solid-info {
        @apply border-transparent bg-teal-600 text-white hover:bg-teal-700 focus:bg-teal-700 dark:bg-teal-500 dark:hover:bg-teal-600 dark:focus:bg-teal-600;
    }

    .btn.solid-warning {
        @apply border-transparent bg-yellow-500 text-white hover:bg-yellow-600 focus:bg-yellow-600 dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:bg-yellow-500;
    }

    .btn.solid-white {
        @apply border border-gray-200 bg-white text-gray-800 hover:bg-gray-50 focus:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-100 dark:hover:bg-gray-700 dark:focus:bg-gray-700;
    }

    .btn.solid-secondary {
        @apply border-transparent bg-zinc-600 text-white hover:bg-zinc-700 focus:bg-zinc-700 dark:bg-zinc-500 dark:hover:bg-zinc-600 dark:focus:bg-zinc-600;
    }

    /* === SOFT VARIANTS === */
    .btn.soft-primary {
        @apply border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:bg-blue-200 dark:bg-blue-900/30 dark:text-blue-800 dark:hover:bg-blue-900/40 dark:focus:bg-blue-900/40;
    }

    .btn.soft-dark {
        @apply border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:bg-gray-200 dark:bg-gray-800/30 dark:text-gray-200 dark:hover:bg-gray-800/40 dark:focus:bg-gray-800/40;
    }

    .btn.soft-danger {
        @apply border-transparent bg-red-100 text-red-800 hover:bg-red-200 focus:bg-red-200 dark:bg-red-900/30 dark:text-red-800 dark:hover:bg-red-900/40 dark:focus:bg-red-900/40;
    }

    .btn.soft-info {
        @apply border-transparent bg-teal-100 text-teal-800 hover:bg-teal-200 focus:bg-teal-200 dark:bg-teal-900/30 dark:text-teal-800 dark:hover:bg-teal-900/40 dark:focus:bg-teal-900/40;
    }

    .btn.soft-warning {
        @apply border-transparent bg-yellow-100 text-yellow-800 hover:bg-yellow-200 focus:bg-yellow-200 dark:bg-yellow-900/30 dark:text-yellow-800 dark:hover:bg-yellow-900/40 dark:focus:bg-yellow-900/40;
    }

    .btn.soft-white {
        @apply border-transparent bg-white/10 text-white hover:bg-white/20 focus:bg-white/20 dark:bg-white/5 dark:hover:bg-white/10 dark:focus:bg-white/10;
    }

    .btn.soft-secondary {
        @apply border-transparent bg-zinc-100 text-zinc-800 hover:bg-zinc-200 focus:bg-zinc-200 dark:bg-zinc-800/30 dark:text-zinc-300 dark:hover:bg-zinc-800/40 dark:focus:bg-zinc-800/40;
    }

    /* === OUTLINE VARIANTS === */
    .btn.outline-primary {
        @apply border border-blue-600 text-blue-600 hover:border-blue-500 hover:text-blue-500 focus:border-blue-500 focus:text-blue-500 dark:border-blue-400 dark:text-blue-400 dark:hover:border-blue-300 dark:hover:text-blue-300 dark:focus:border-blue-300 dark:focus:text-blue-300;
    }

    .btn.outline-dark {
        @apply border border-gray-800 text-gray-800 hover:border-gray-500 hover:text-gray-500 focus:border-gray-500 focus:text-gray-500 dark:border-gray-400 dark:text-gray-400 dark:hover:border-gray-300 dark:hover:text-gray-300 dark:focus:border-gray-300 dark:focus:text-gray-300;
    }

    .btn.outline-danger {
        @apply border border-red-500 text-red-500 hover:border-red-400 hover:text-red-400 focus:border-red-400 focus:text-red-400 dark:border-red-400 dark:text-red-400 dark:hover:border-red-300 dark:hover:text-red-300 dark:focus:border-red-300 dark:focus:text-red-300;
    }

    .btn.outline-info {
        @apply border border-teal-500 text-teal-500 hover:border-teal-400 hover:text-teal-400 focus:border-teal-400 focus:text-teal-400 dark:border-teal-400 dark:text-teal-400 dark:hover:border-teal-300 dark:hover:text-teal-300 dark:focus:border-teal-300 dark:focus:text-teal-300;
    }

    .btn.outline-warning {
        @apply border border-yellow-500 text-yellow-500 hover:border-yellow-400 hover:text-yellow-400 focus:border-yellow-400 focus:text-yellow-400 dark:border-yellow-400 dark:text-yellow-400 dark:hover:border-yellow-300 dark:hover:text-yellow-300 dark:focus:border-yellow-300 dark:focus:text-yellow-300;
    }

    .btn.outline-white {
        @apply border border-white text-white hover:border-white/70 hover:text-white/70 focus:border-white/70 focus:text-white/70 dark:border-gray-400 dark:text-gray-400 dark:hover:border-gray-300 dark:hover:text-gray-300 dark:focus:border-gray-300 dark:focus:text-gray-300;
    }

    .btn.outline-secondary {
        @apply border border-zinc-500 text-zinc-500 hover:border-zinc-400 hover:text-zinc-400 focus:border-zinc-400 focus:text-zinc-400 dark:border-zinc-400 dark:text-zinc-400 dark:hover:border-zinc-300 dark:hover:text-zinc-300 dark:focus:border-zinc-300 dark:focus:text-zinc-300;
    }

    /* === LINK VARIANTS === */
    .link-primary {
        @apply font-medium border-transparent text-blue-600 hover:text-blue-800 focus:text-blue-800 hover:underline dark:text-blue-400 dark:hover:text-blue-300 dark:focus:text-blue-300;
    }

    .link-danger {
        @apply font-medium border-transparent text-red-600 hover:text-red-800 focus:text-red-800 hover:underline dark:text-red-400 dark:hover:text-red-300 dark:focus:text-red-300;
    }

    .link-gray {
        @apply font-medium border-transparent text-gray-600 hover:text-gray-800 focus:text-gray-800 hover:underline dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-300;
    }

    .link-white {
        @apply font-medium border-transparent text-white hover:text-white/80 focus:text-white/80 dark:text-gray-300 dark:hover:text-gray-200 dark:focus:text-gray-200;
    }

    .link-green {
        @apply font-medium border-transparent text-green-600 hover:text-green-800 focus:text-green-800 hover:underline dark:text-green-400 dark:hover:text-green-300 dark:focus:text-green-300;
    }

    .link-warning {
        @apply font-medium border-transparent text-yellow-600 hover:text-yellow-700 focus:text-yellow-700 hover:underline dark:text-yellow-400 dark:hover:text-yellow-300 dark:focus:text-yellow-300;
    }

    .link-indigo {
        @apply font-medium border-transparent text-indigo-600 hover:text-indigo-800 focus:text-indigo-800 hover:underline
           dark:text-indigo-400 dark:hover:text-indigo-300 dark:focus:text-indigo-300;
    }

    .link-info {
        @apply font-medium border-transparent text-teal-600 hover:text-teal-800 focus:text-teal-800 hover:underline
           dark:text-teal-400 dark:hover:text-teal-300 dark:focus:text-teal-300;
    }

    .link-secondary {
        @apply font-medium border-transparent text-zinc-600 hover:text-zinc-800 focus:text-zinc-800 hover:underline
           dark:text-zinc-400 dark:hover:text-zinc-300 dark:focus:text-zinc-300;
    }
    .link-white {
        @apply border-transparent text-zinc-400 hover:text-blue-600 focus:text-blue-600 hover:underline
           dark:text-inherit dark:hover:text-blue-600 dark:focus:text-blue-600;
    }

    /* === GHOST VARIANTS === */
    .btn.ghost-primary {
        @apply border-transparent text-blue-600 hover:bg-blue-100 hover:text-blue-800 focus:bg-blue-100 focus:text-blue-800 dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400 dark:focus:bg-blue-800/30 dark:focus:text-blue-400;
    }
    .btn.ghost-dark {
        @apply border-transparent text-gray-800 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 dark:text-neutral-200 dark:hover:bg-neutral-800/30 dark:hover:text-neutral-100 dark:focus:bg-neutral-800/30 dark:focus:text-neutral-100;
    }

    .btn.ghost-white {
        @apply border-transparent text-zinc-500 hover:bg-zinc-100 hover:text-zinc-500/90 focus:bg-zinc-100 focus:text-zinc-500/90 dark:text-neutral-200 dark:hover:bg-neutral-800/30 dark:hover:text-neutral-100 dark:focus:bg-neutral-800/30 dark:focus:text-neutral-100;
    }

    .btn.ghost-secondary {
        @apply border-transparent text-zinc-600 hover:bg-zinc-100 hover:text-zinc-800 focus:bg-zinc-100 focus:text-zinc-800 dark:text-zinc-400 dark:hover:bg-zinc-800/30 dark:hover:text-zinc-300 dark:focus:bg-zinc-800/30 dark:focus:text-zinc-300;
    }

    /* === ICON LOADING VARIANT === */
    .btn .btn-spinner {
        @apply animate-spin inline-block size-4 border-[3px] border-current border-t-transparent rounded-full;
    }
}
