@layer components {
    .table-responsive {
        @apply overflow-x-auto w-full;
    }

    .table {
        @apply min-w-full divide-y divide-zinc-200 dark:divide-zinc-700;
    }

    .table thead {
        @apply bg-zinc-50 dark:bg-zinc-800/50 py-1.5;
    }

    .table tbody {
        @apply -m-1.5 bg-white dark:bg-zinc-900;
    }

    .table thead th {
        @apply px-6 py-3 uppercase font-semibold text-xs text-left text-zinc-600 hover:text-zinc-500 focus:outline-hidden focus:text-zinc-500 dark:text-zinc-300 dark:hover:text-zinc-400 dark:focus:text-zinc-400;
    }

    .table tbody td {
        @apply size-px px-6 py-3 text-sm text-zinc-700 dark:text-zinc-300 dark:bg-transparent;
    }

    .table.freeze-right thead th:last-child,
    .table.freeze-right tbody td:last-child {
        /* @apply sticky right-0 bg-white dark:bg-zinc-800 z-10; */
        /* box-shadow: -4px 0 6px -1px rgba(0, 0, 0, 0.1); */
    }
}
